{% extends 'default.html.twig' %}

{% block body %}

<section>

    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="paragraphe">
                    <h2 class="h1-responsive font-weight-bold">{{ post.title }}</h2>
                </div>
            </div>
            <div class="col-sm-12">
                <p>
                    {{ post.standfirst }}
                </p>

            </div>
            <div class="col-sm-12">
                <div class="paragraphe">
                  <p>
                      {{ post.content }}
                  </p>

                </div>
            </div>


        </div>


        <div class="row bootstrap snippets paragraphe">
            <div class="col-md-6 col-md-offset-2 col-sm-12">
                <div class="comment-wrapper">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            Comment panel
                        </div>
                        <div class="panel-body">
                            {% if user %}

                            <form action="data.php" method="POST">
                              <input type="hidden" id="postid" value="{{ post.id }}" name="" />
                              <input type="hidden" id="userId" value="{{ user.id }}" name="" />
                              <textarea class="form-control" id="commentuser" name="comment" placeholder="write a comment..." rows="3"></textarea>
                            <br>
                            </form>
                            <div class="row">
                                <div class="col-sm-10">
                                    <p id="response" class="margin-right-10"></p>
                                </div>
                                <div class="col-sm-2">
                                    <button type="button" id="commentpost" class="btn btn-info pull-right">Post</button>
                                </div>
                            </div>
                            {{ message }}
                            {% endif %}
                            <div class="clearfix"></div>
                            <hr>

                        {% if comments %}
                            {% for com in comments %}
                                {% if com.valid == 1 %}
                                    {% set bool = true %}
                                <ul class="media-list">
                                    <li class="media">
                                        <div class="media-body">
                                            <span class="text-muted pull-right">
                                                <small class="text-muted">{{ com.commentdate|date("F jS \\a\\t g:ia") }}</small>
                                            </span>
                                            <strong class="text-success">@{{ com.username }}</strong>
                                            <p>
                                                {{ com.content }}
                                            </p>
                                        </div>
                                    </li>
                                </ul>
                                {% endif %}
                            {% endfor %}
                            {% if nocomment == true %}
                                <ul class="media-list">
                                    <li class="media">
                                        <div class="media-body">
                                            <p>
                                                No Comment Yet
                                            </p>
                                        </div>
                                    </li>
                                </ul>
                            {% endif %}

                        {% endif %}

                        </div>
                    </div>
                </div>

            </div>
        </div>

</section>

{% endblock %}

{% block ajax %}
    <script src="js/ajax/commentform.js"></script>
{% endblock %}

